body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px gray;
    /* margin-top: -55px; */
}

.board {
    width: 30rem;
    height: 30rem;
    /* box-shadow: 2px 2px 2px rgb(175, 175, 175); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.btn {
    /* width: 150px;
    height: 150px; */
    width: 10rem;
    height: 10rem;
    text-align: center;
    border: none;
    /* outline: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    border-radius: 5px;
}

/* .btn:hover {
    background-color: rgb(241, 241, 241);
} */

/* .hoverable:hover {
    background-color: rgb(241, 241, 241);
} */

#b1{ 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
} 
  
#b2 { 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b3 { 
    border-bottom: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b4 { 
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
} 
      
#b5 { 
    border: 1px solid gray; 
} 
  
#b6 { 
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b7 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
} 
  
#b8 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b9 { 
    border-top: 1px solid gray; 
    border-left: 1px solid gray; 
} 

button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    background-color: darksalmon;
    font-size: large;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: darksalmon;
    border: 2px solid darksalmon;
    
}

@media screen and (max-width: 940px) {
    .btn {
        height: 8rem;
        width: 8rem;
    }
    .board{
        height: 22rem;
        width: 22rem;
    }
}
@media screen and (max-width: 540px) {
    .btn {
        height: 6rem;
        width: 6rem;
    }
    .board{
        height: 18rem;
        width: 18rem;
    }
}